* {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.header {
  background-color: gray;
  border-radius: 25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-top: 5px;
  width: 50%;
}

.header-wrapper > .header > h1 {
  color: darkblue;
}

.index-main {
  padding: 2%;
}

.main-title {
  font-size: 80px;
  font-style: italic;
  text-align: center;
}

.lorem-section {
  margin-bottom: 10px;

  & h2 {
    margin-left: 15px;
    margin-bottom: 10px;
  }
  & p {
    width: 80%;
  }
}

.recipe-section {
  margin-bottom: 10px;

  & h2 {
    margin-left: 15px;
    margin-bottom: 10px;
  }
  & ul {
    type: circle;
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.ingredients > h2 {
  margin-top: 5px;
}

.ingredients > h3 {
  margin-top: 5px;
}
.recipe {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
}

span {
  background-color: yellow;
  color: orangered;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img {
  align-self: center;
}
.img > img {
  width: 500px;
}
